<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  #RewriteBase /web-capstone-23/web/public
  RewriteBase /public
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
  #RewriteRule ^(.+)$ fileNotFound.php?url=$1 [QSA,L]
</IfModule>